
<head>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </head>
  
  {% for recipe in data %}
  <ul>
    <ul>
        <a href="/author/{{ recipe.author.id }}">{{ recipe.author }}</a>'s recipe:
        <br>
        Title: {{ recipe.title }}<br>
        Description: {{ recipe.description }}<br>
        Prep/Bake Time:{{ recipe.time_required }}<br>
        Instructions:{{ recipe.instructions }}<br>
    </ul>
  </ul>
  {% if user.is_authenticated %}
  <a class="btn btn-outline-primary btn-lg btn-block" href="/favoritestatus/{{ recipe.id }}" role="button">{{ fav_button }}</a>
  {% endif %}
  {% if request.user or user.is_authenticated %}  
  <a class="btn btn-outline-primary btn-lg btn-block" href="/recipeupdate/{{ recipe.id }}" role="button">Update this fine recipe to make it even finer</a>
  {% endif %}
  {% endfor %}
  